# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
.vs
temp
_obj
_test
# Build Results
[Dd]ebug/
[Rr]elease/
[Bb]uild/
[Xx]64/
[Bb]in/
[Oo]bj/

# User-specific files
*.suo
*.user
*.sln.docstates

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
